@charset "utf-8";

*{margin: 0;padding: 0;box-sizing: border-box;}

#wrap{
    width: 100%;
    height: 100vh;
    background-color: #f1f1f1;
    position: relative;
}

.mobile_wrap{
    width: 360px;
    height: 350px;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translateX(-75%);
}

.mobile_wrap > img{}

.box{
    width: 144px;
    height: 256px;
    /* 1849-256=1593 */
    position: absolute;
    top: 44px;
    right: 10px;
    overflow: hidden;
}

.box img{
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

@keyframes ani {
    0%{top: 0;}
    50%{top: -1593px;}
    100%{top: 0;}
}

.box:hover img{
    animation: ani 15s 1s infinite ease-in-out  ;
}